@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("https://weather-app.isaaclal.com/assets/snowy-88cc09c5.jpeg");
} */
/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}
